<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  	<meta http-equiv="Pragma" content="no-cache" />
  	<meta http-equiv="Expires" content="0" />
  	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  	<meta content="IE=edge" http-equiv="X-UA-Compatible">
  	<meta content="width=device-width, initial-scale=1" name="viewport">
  	<meta content="no-referrer" name="referrer">
  	<title>ASA Session Replay Tool</title>
  	<meta content="website" property="og:type">
  	<meta content="Advanced Server Access" property="og:title">
  	<meta content="Dynamic Access Management" property="og:description">
  	<meta content="https://assets.scaleft.net/img/asa-logo-white.svg" property="og:image">
  	<link href="https://assets.scaleft.net/favicon.ico" rel="shortcut icon">
  	<link href="/static/css/1.2147edc167ac44d46b19.css" rel="stylesheet">
  	<link href="/static/css/dashboard.2865f879cf82b70c7f4a.css" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="/static/css/asciinema-player.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
  	<style id="detectElementResize" type="text/css">

  	@keyframes resizeanim { from { opacity: 0; } to { opacity: 0; } } .resize-triggers { animation: 1ms resizeanim; visibility: hidden; opacity: 0; } .resize-triggers, .resize-triggers > div, .contract-trigger:before { content: " "; display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; overflow: hidden; z-index: -1; } .resize-triggers > div { background: #eee; overflow: auto; } .contract-trigger:before { width: 200%; height: 200%; }
  	/* The Modal (background) */
  	.modal {
  	  display: none; /* Hidden by default */
  	  position: fixed; /* Stay in place */
  	  z-index: 1; /* Sit on top */
  	  padding-top: 100px; /* Location of the box */
  	  left: 0;
  	  top: 0;
  	  width: 100%; /* Full width */
  	  height: 100%; /* Full height */
  	  overflow: auto; /* Enable scroll if needed */
  	  background-color: rgb(0,0,0); /* Fallback color */
  	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  	}

  	/* Modal Content */
  	.modal-content {
  	  background-color: #fefefe;
  	  margin: auto;
  	  padding: 20px;
  	  border: 1px solid #888;
  	  width: 80%;
  	}

  	/* The Close Button */
  	.close {
  	  color: #aaaaaa;
  	  float: right;
  	  font-size: 28px;
  	  font-weight: bold;
  	}

  	.close:hover,
  	.close:focus {
  	  color: #000;
  	  text-decoration: none;
  	  cursor: pointer;
  	}

  	.button{
  border: none;
  background: none;
  }


  	</style>
</head>

<body>
<div id="content">
  <div class="side-nav">
    <div class="side-nav--header">
      <a class="side-nav--header--link active" href="/"><img alt="Advanced Server Access" src="https://assets.scaleft.net/img/asa-logo-blue.svg">
      <h3>ASA Session<br>
      Replay Tool</h3></a>
    </div>
    <div class="side-nav--content">
      <span class="side-nav--content--header">Session Replay</span>
      <a class="nav-item" href="#">
        <i class="fas fa-terminal"></i>
    SSH Recordings
  </a>
<br>
      <a class="nav-item" href="/logout">
        <i class="fas fa-sign-out-alt"></i>
    Logout
  </a>

    </div>
    <div class="side-nav--footer">
      <a href="https://help.okta.com/en/prod/okta_help_CSH.htm#ext_asa_main">Docs</a>&nbsp;|&nbsp;<a href="https://www.okta.com/privacy-policy/">Privacy</a>&nbsp;|&nbsp;<a href="https://www.okta.com/security/">Security</a>
      <hr>
      <p> This is an open source project and is not supported or maintained by Okta</p>
    </div>
  </div>
  <div class="container-fluid" id="main">
    <div class="sft-main" style="position: relative;">
      <div class="dropdown btn-group sft-dropdown dropdown-custom-menu">
        <div>
          <!-- <a class="nav-item" href="#" style="padding-right: 0px;" tabindex="0"> -->
            <span id="user_menu">
            <svg aria-hidden="true" class="svg-inline--fa fa-user fa-w-16" data-icon="user" data-prefix="fas" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.99998 10C12.5665 10 14.6465 7.93729 14.6465 5.39218C14.6465 2.84708 12.5665 0.784363 9.99998 0.784363C7.43349 0.784363 5.35344 2.84708 5.35344 5.39218C5.35344 7.93729 7.43349 10 9.99998 10ZM13.2526 11.152H12.6463C11.8404 11.5191 10.9438 11.7279 9.99998 11.7279C9.05615 11.7279 8.16314 11.5191 7.35363 11.152H6.7474C4.05386 11.152 1.86853 13.3191 1.86853 15.9902V17.4877C1.86853 18.4417 2.649 19.2156 3.61098 19.2156H16.389C17.351 19.2156 18.1314 18.4417 18.1314 17.4877V15.9902C18.1314 13.3191 15.9461 11.152 13.2526 11.152Z" fill="currentColor">
          </path></svg>

          <span id="userName" >{{user.given_name}} {{user.family_name}}</span>&nbsp;
          <!-- <svg aria-hidden="true" class="svg-inline--fa fa-chevron-down fa-w-14" data-icon="chevron-down" data-prefix="fas" role="img" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
          <path d="M 207.029 381.476 L 12.686 187.132 c -9.373 -9.373 -9.373 -24.569 0 -33.941 l 22.667 -22.667 c 9.357 -9.357 24.522 -9.375 33.901 -0.04 L 224 284.505 l 154.745 -154.021 c 9.379 -9.335 24.544 -9.317 33.901 0.04 l 22.667 22.667 c 9.373 9.373 9.373 24.569 0 33.941 L 240.971 381.476 c -9.373 9.372 -24.569 9.372 -33.942 0 Z" fill="currentColor">
          </path>
        </svg></span></a> -->

        </div>
      </div>
    </div>
    <div class="sft-main">
      <div class="sft-main-header">
        <div class="container-fluid">
          <h2 class="sft-title">
            {{#ifCond icon '===' 'user'}}
            <svg aria-hidden="true" class="svg-inline--fa fa-user fa-w-16" data-icon="user" data-prefix="fas" role="img" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M 9.99998 10 C 12.5665 10 14.6465 7.93729 14.6465 5.39218 C 14.6465 2.84708 12.5665 0.784363 9.99998 0.784363 C 7.43349 0.784363 5.35344 2.84708 5.35344 5.39218 C 5.35344 7.93729 7.43349 10 9.99998 10 Z M 13.2526 11.152 H 12.6463 C 11.8404 11.5191 10.9438 11.7279 9.99998 11.7279 C 9.05615 11.7279 8.16314 11.5191 7.35363 11.152 H 6.7474 C 4.05386 11.152 1.86853 13.3191 1.86853 15.9902 V 17.4877 C 1.86853 18.4417 2.649 19.2156 3.61098 19.2156 H 16.389 C 17.351 19.2156 18.1314 18.4417 18.1314 17.4877 V 15.9902 C 18.1314 13.3191 15.9461 11.152 13.2526 11.152 Z" fill="currentColor"></path>
        </svg>
            {{/ifCond}}
            {{#ifCond icon '===' 'recordings'}}
              <i class="fas fa-video"></i>
            {{/ifCond}}
            {{#ifCond icon '===' 'ssh'}}
            <i class="fas fa-terminal"></i>
            {{/ifCond}}

          &nbsp;<span> {{pageTitle}}</span></h2>
          <div class="sft-tabs-main">
            <!-- <div class="nav nav-inline">
              <a class="nav-link active" href="https://app.scaleft.com/t/asa-dh/user/servers">Servers</a><a class="nav-link" href="https://app.scaleft.com/t/asa-dh/user/settings">User Details</a>
            </div> -->
          </div>
        </div>
      </div>
      <div class="sft-main-body mx-auto">
        {{{body}}}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script>
var modalBtns = [...document.querySelectorAll(".button")];
modalBtns.forEach(function(btn){
btn.onclick = function() {
  var modal = btn.getAttribute('data-modal');
  document.getElementById(modal).style.display = "block";
}
});

var closeBtns = [...document.querySelectorAll(".close")];
closeBtns.forEach(function(btn){
btn.onclick = function() {
  var modal = btn.closest('.modal');
  modal.style.display = "none";
}
});

window.onclick = function(event) {
if (event.target.className === "modal") {
  event.target.style.display = "none";
}
}
</script> -->
<script src="/static/js/asciinema-player.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
</script>
<script>
window.jQuery || document.write('<script src="https://oktapus.co.uk/asa/assets/js/vendor/jquery.slim.min.js"><\/script>')
</script>
<!-- <script src="https://oktapus.co.uk/asa/assets/dist/js/bootstrap.bundle.min.js"></script>-->
<!-- <script src="https://cdn.jsdelivr.net/npm/@okta/okta-auth-js@4.1.2/dist/okta-auth-js.min.js" type="text/javascript"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<!-- <script src="/static/js/vendors.dashboard.8a651b6faa78251155ae.js" type="text/javascript"></script> -->
<!-- <script src="/static/js/dashboard.95c89ace6a142b04210b.js" type="text/javascript"> </script> -->
</body>
</html>
