<div class="container-fluid">
  <br>
  <div class="row">
  <a href="/" class="btn btn-primary">Back</a>
  </div>
  <br>
  <div>
    You are viewing an SSH session recording of user <strong>{{file.username}}</strong> on <strong>{{file.date}} at {{file.time}}</strong>.
  </div>
<br>
  <div class="row">
      <asciinema-player src="{{file.filename}}"></asciinema-player>
    </div>
  </div>
